---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{% if page.title != "About"%}{{ site.description }}{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="alert" style="border:1px solid black;background: #f5f770">
                <p style="margin:0"><b>Looking for new posts?</b> Head over to my new blog at 
                    <a href="https://bjcant.dev" target="_blank" rel="noreferrer noopener nofollow">https://bjcant.dev</a>
                </p>
            </div>
			{{ content }}
		</div>
	</div>
</div>

<hr>
